# Determinación distancia entre dos bases de datos

## 0. Se cargan las bibliotecas

In [20]:
import numpy as np
import pandas as pd
import datetime

## 1. Se leen los datos y se definen los parametros relevantes

In [9]:
data_AMB = pd.read_excel("datos_procesados_local_amb.xlsx")
data_LOW_COST = pd.read_excel("datos_procesados_local_low_cost.xlsx")

In [10]:
data_AMB

                    Time PM2.5 UG/M3
0    2018-10-01 00:00:00         6.4
1    2018-10-01 01:00:00         6.4
2    2018-10-01 02:00:00         6.7
3    2018-10-01 03:00:00           6
4    2018-10-01 04:00:00         7.3
...                  ...         ...
8025 2019-08-31 19:00:00        20.4
8026 2019-08-31 20:00:00        18.7
8027 2019-08-31 21:00:00        22.8
8028 2019-08-31 22:00:00        25.2
8029 2019-08-31 23:00:00          18

[8030 rows x 2 columns]

In [11]:
data_LOW_COST

                         Time  PM2.5 UG/M3
0     2018-11-03 23:32:49.639     9.083333
1     2018-11-03 23:37:50.639     9.083333
2     2018-11-03 23:42:50.639     8.583334
3     2018-11-03 23:47:49.641     8.666667
4     2018-11-03 23:52:49.638     8.666666
...                       ...          ...
5003  2019-09-01 00:02:50.912     6.166667
5004  2019-09-01 01:02:49.911     7.833333
5005  2019-09-01 02:02:49.912     5.416667
5006  2019-09-01 03:02:49.912     5.750000
5007  2019-09-01 04:03:01.820    19.166668

[5008 rows x 2 columns]

In [13]:
data_AMB['Time'] = pd.to_datetime(data_AMB['Time'])
data_AMB = data_AMB.set_index('Time')

data_LOW_COST['Time'] = pd.to_datetime(data_LOW_COST['Time'])
data_LOW_COST = data_LOW_COST.set_index('Time')

In [23]:
a1 = data_AMB['PM2.5 UG/M3'][0]
b1 = data_AMB['PM2.5 UG/M3'][-1]

a2 = data_LOW_COST['PM2.5 UG/M3'][0]
b2 = data_LOW_COST['PM2.5 UG/M3'][-1]

l = datetime.timedelta(hours=5)

Eps = datetime.timedelta(hours=1)

Errores = []

In [24]:
l

datetime.timedelta(seconds=18000)